# E2B Dashboard 环境变量

# 服务端认证与 Ory OAuth
DASHBOARD_API_ADMIN_TOKEN={{ admin_token | to_json }}
E2B_SESSION_SECRET={{ dashboard_session_secret | to_json }}
ORY_SDK_URL={{ ory_sdk_url | to_json }}
ORY_HYDRA_PUBLIC_URL={{ dashboard_ory_hydra_public_url | to_json }}
ORY_OAUTH2_CLIENT_ID={{ dashboard_ory_oauth2_client_id | to_json }}
ORY_OAUTH2_CLIENT_SECRET={{ dashboard_ory_oauth2_client_secret | to_json }}
ORY_OAUTH2_CLI_CLIENT_ID={{ dashboard_ory_oauth2_cli_client_id | to_json }}
ORY_OAUTH2_AUDIENCE={{ dashboard_ory_oauth2_audience | to_json }}
ORY_PROJECT_API_TOKEN={{ ory_project_api_token | to_json }}

# 浏览器可见的 E2B 端点
NEXT_PUBLIC_E2B_DOMAIN={{ domain_name | to_json }}
NEXT_PUBLIC_INFRA_API_URL={{ (public_url_scheme ~ '://' ~ api_domain) | to_json }}
NEXT_PUBLIC_DASHBOARD_API_URL={{ (public_url_scheme ~ '://' ~ dashboard_api_domain) | to_json }}
NEXT_PUBLIC_E2B_SANDBOX_URL={{ (public_url_scheme ~ '://' ~ sandbox_base_domain) | to_json }}
NEXT_PUBLIC_ORY_SDK_URL={{ ory_sdk_url | to_json }}

NODE_ENV=production
