# E2B Dashboard 环境变量

# API 地址
NEXT_PUBLIC_API_URL=http://{{ api_domain }}:{{ dashboard_api_port }}

# Supabase 认证
NEXT_PUBLIC_SUPABASE_URL={{ supabase_url }}
NEXT_PUBLIC_SUPABASE_ANON_KEY={{ supabase_anon_key }}

# 环境
NODE_ENV=production
