# Nomad 客户端配置

datacenter = "{{ nomad_datacenter }}"
data_dir   = "/opt/nomad/data"

client {
  enabled = true
  
  server_join {
    retry_join = [
      {% for host in groups['nomad_server'] %}
      "{{ hostvars[host]['ansible_host'] }}:4648"{% if not loop.last %},{% endif %}
      {% endfor %}
    ]
  }
  
  reserved {
    cpu    = 500
    memory = 1024
  }
}

acl {
  enabled = {{ nomad_acl_enabled | lower }}
}

bind_addr = "0.0.0.0"
